<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Bdate:</strong>
  <%= @employee.bdate %>
</p>

<p>
  <strong>Addr:</strong>
  <%= @employee.addr %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @employee.salary %>
</p>

<p>
  <strong>Department:</strong>
  <%= @employee.department %>
</p>

<p>
  <strong>Eno:</strong>
  <%= @employee.eno %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @employee.gender %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
