<h1>Listing departments</h1>
<%= provide(:title,"Departments") %>
<table border="1">
  <thead>
    <tr>
      <th>College</th>
      <th>Dno</th>
      <th>Dname</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody border="1">
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.college.name %></td>
        <td><%= department.dno %></td>
        <td><%= department.name %></td>
        <td><%= link_to 'Show', department %></td>
        <td><%= link_to 'Edit', edit_department_path(department) %></td>
        <td><%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Department', new_department_path %>
