<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @teaching.employee %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @teaching.designation %>
</p>

<%= link_to 'Edit', edit_teaching_path(@teaching) %> |
<%= link_to 'Back', teachings_path %>
